[Unit]
Description=Buildbot master container run script
After=docker.service

[Service]
Restart=Always
ExecStart=/bin/docker run --volumes-from=furious_thompson -p 8010:8010 -p 9989:9989 --name bbm -d -it buildbot_master
ExecStop=/bin/docker stop bbm && docker rm bbm

[Install]
WantedBy=default.target
